@import url(
    'https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'
    );

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #0e0e0e;
}

.view-area {
    margin: auto;
    width: 80%;
    background-color: rgb(246, 245, 245);
    height: 100vh; 
    display: flex;
    
}

.bg-area {
    position: relative;
    width: 40%;
    background-image: url("cheese2.jpg");
    background-size: cover;
    
}

.form-area {
    width: 60%;
    min-width: 300px;
    
}

.cheese-logo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: auto;
    margin: 100px 0 0 0;
    text-align: center;
    padding: 15px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

#form-input {
    background-color: white;
    height: 40%;
    padding-top: 20px;
}

.form-section {
    min-width: 300px;
    height: 30%;
    padding: 20px;
    
} 

#form-row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    background-color: rgb(226, 150, 9);
    color: white;
    border: orange;
    border-radius: 15px;
}

a {
    color:rgb(226, 150, 9);
    font-weight:700;
}

button:hover,
button:focus {
    outline: yellow;
    background: rgb(255, 166, 0);
}

a:hover {
    color: orange;
}

input {
    width: 150px;
    margin-right: 20px;
}

label {
    font-size: 60%;
    margin-top: 20px;
}

div.input {
    flex-direction: column;
    display: flex;
    text-transform: uppercase;
}

form {
    max-width: 400px;
}

.text-small {
    font-size: 0.8rem;
    margin-top: 10px;
}
